.container
	.row.features
		.col-sm-6.col-md-4.feature
			.thumbnail
				img(src="http://placehold.it/240x200")
				.caption
					h3 First Feature
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p: a(href="#", role="button").btn.btn-lg.btn-primary Learn More
		.col-sm-6.col-md-4.feature
			.thumbnail
				img(src="http://placehold.it/240x200")
				.caption
					h3 Second Feature
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p: a(href="#", role="button").btn.btn-lg.btn-primary Learn More
		.col-sm-6.col-md-4.feature
			.thumbnail
				img(src="http://placehold.it/240x200")
				.caption
					h3 Third Feature
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p: a(href="#", role="button").btn.btn-lg.btn-primary Learn More

