nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            button(type="button", data-toggle="collapse" data-target="#navbar", aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href="#").navbar-brand PCtweaker Computer Repair
        .navbar-collapse.collapse(id="navbar")
            ul.nav.navbar-nav.navbar-right
                li.active: a(href="#") Home
                    span.sr-only (current)
                li: a(href="#") About
                li: a(href="#") Services
                li: a(href="#") Contact