extends layouts/_default

block css
    link(rel="stylesheet", href="./css/style.css")

block content
    include includes/_nav
    include includes/_carousel
    include includes/_features
    include includes/_footer

block scripts
    script(src="./js/script.js")
